TweetClient/Service References/WCFTweetService/TweetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44919/TweetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TweetBL" />
  <xs:element name="GetTweets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TweetBL" minOccurs="0" name="GetTweetsResult" nillable="true" type="q1:ArrayOfTweet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tweetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TweetBL" minOccurs="0" name="GetTweetByIDResult" nillable="true" type="q2:Tweet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TweetBL" minOccurs="0" name="newTweet" nillable="true" type="q3:Tweet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTweetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TweetBL" minOccurs="0" name="updateTweet" nillable="true" type="q4:Tweet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTweetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTweetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTweetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>