TweetClient/Service References/WCFTweetService/TweetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TweetBL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TweetBL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTweet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tweet" nillable="true" type="tns:Tweet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTweet" nillable="true" type="tns:ArrayOfTweet" />
  <xs:complexType name="Tweet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PostedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tweet" nillable="true" type="tns:Tweet" />
</xs:schema>