TweetClient/Service References/WCFTweetService/TweetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TweetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44919/TweetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44919/TweetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44919/TweetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TweetBL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITweetService_GetTweets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTweets" />
  </wsdl:message>
  <wsdl:message name="ITweetService_GetTweets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTweetsResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetService_GetTweetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTweetByID" />
  </wsdl:message>
  <wsdl:message name="ITweetService_GetTweetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTweetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetService_CreateTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetService_CreateTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTweetResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetService_UpdateTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetService_UpdateTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTweetResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetService_DeleteTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetService_DeleteTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTweetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITweetService">
    <wsdl:operation name="GetTweets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetService/GetTweets" message="tns:ITweetService_GetTweets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetService/GetTweetsResponse" message="tns:ITweetService_GetTweets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTweetByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetService/GetTweetByID" message="tns:ITweetService_GetTweetByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetService/GetTweetByIDResponse" message="tns:ITweetService_GetTweetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetService/CreateTweet" message="tns:ITweetService_CreateTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetService/CreateTweetResponse" message="tns:ITweetService_CreateTweet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetService/UpdateTweet" message="tns:ITweetService_UpdateTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetService/UpdateTweetResponse" message="tns:ITweetService_UpdateTweet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTweet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetService/DeleteTweet" message="tns:ITweetService_DeleteTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetService/DeleteTweetResponse" message="tns:ITweetService_DeleteTweet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITweetService" type="tns:ITweetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTweets">
      <soap:operation soapAction="http://tempuri.org/ITweetService/GetTweets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTweetByID">
      <soap:operation soapAction="http://tempuri.org/ITweetService/GetTweetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTweet">
      <soap:operation soapAction="http://tempuri.org/ITweetService/CreateTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTweet">
      <soap:operation soapAction="http://tempuri.org/ITweetService/UpdateTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTweet">
      <soap:operation soapAction="http://tempuri.org/ITweetService/DeleteTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TweetService">
    <wsdl:port name="BasicHttpBinding_ITweetService" binding="tns:BasicHttpBinding_ITweetService">
      <soap:address location="http://localhost:44919/TweetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>